
<div class="container footer-inner">
    <p>© <span id="year"></span> Warpony Productions. All rights reserved. Developed by <a href="https://warfdesigns.com" style="color: white !important;">Warf Designs LLC</a></p>
    <facebook-icon><a href="https://www.facebook.com/profile.php?id=61569430589460"><img src="/icons/facebook-icon.webp" alt="Facebook"></a></facebook-icon>
    <trusted-icon class="material-symbols-outlined">verified</trusted-icon>
    <trusted-icon class="material-symbols-outlined">shield_locked</trusted-icon>
    <p class="footer-links">
        <a href="#home">Back to top</a>
    </p>
</div>
